{:lint-as {com.fulcrologic.guardrails.core/>defn        clojure.core/defn
           com.wsscode.pathom.connect/defresolver       clj-kondo.lint-as/def-catch-all
           com.fulcrologic.fulcro.components/defsc      clojure.core/defn
           com.fulcrologic.fulcro.mutations/defmutation clj-kondo.lint-as/def-catch-all
           mount.core/defstate                          clj-kondo.lint-as/def-catch-all
           com.wsscode.pathom.connect/defmutation       clj-kondo.lint-as/def-catch-all}}
